{% extends 'base.html' %}

{% block body %}
    <div class="container mt-5 d-flex justify-content-center ">

            <div class="card p-3 text-bg-light" style="width:650px">
                <div class="row">
                    <div class="col-sm-4">
                        <div >
                            <div class="image pe-2">
                                <img src="{{url_for('static', filename='fotos_perfil/{}'.format(current_user.foto_perfil))}}" class=" rounded mx-auto d-block " width="200" >
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <div class="ml-3 w-100">
                            <h4 class="mb-0 mt-0">{{current_user.username}}</h4>
                            <span>{{current_user.email}}</span>

                            <div class="p-2 mt-2 bg-primary d-flex justify-content-between rounded text-white stats">

                                <div class="d-flex flex-column">

                                    <span class="articles">Posts</span>
                                    <span class="number1">{{current_user.posts|length}}</span>

                                </div>

                                <div class="d-flex flex-column">

                                    <span class="rating">Cursos</span>
                                    <span class="number3">
                                        {% if current_user.cursos != "Não informado"%}
                                            {{current_user.cursos.split(";")|length}}
                                        {% else %}
                                            {{0}}
                                        {% endif %}
                                    </span>

                                </div>

                            </div>
                            <div class="pt-3"><h5>Cursos:</h5></div>
                            <div class="button mt-4 d-flex flex-row align-items-center">
                                <div class="col" style="text-align:center">

                                    {% for curso in lista_cursos %}
                                        <button type="button" class="btn btn-dark mb-1" disabled>
                                            {{curso}}
                                        </button>
                                        <br>
                                    {% endfor %}
                                </div>

                            </div


                           <div class="button mt-4 d-flex flex-row align-items-center">
                                <a class="w-100" href="{{url_for('editar_perfil')}}">
                                    <button class="btn btn-sm btn-outline-dark w-100">Editar Perfil</button>
                                </a>
                           </div>
                        </div>
                    </div>
                </div>





            </div>
    </div>



{% endblock%}